@media (min-width:601px) {
    #header .nav li:hover::after{
        width:100%;
    }
}

@media (max-width:768px) {
    
    #header .nav .far{
        display:block;
        margin:20px;
        font-size:26px;
        text-align: right;
    }

    #header .fa-bars{
        display: inline-block;
    }
    #header .nav li{
        display: block;
        box-shadow:0 0 1px white
    }
    #header .nav li a{
        display: block;
        padding: 20px 0;
        padding-left:60px;
    }
    #header .nav {
        position: fixed;
        top:0;
        right:-250px;
        background-color:black;
        height:100vh;
        width: 250px;
        box-shadow: 0 0 5px white;
        z-index:2;
        transition:1s
    }
    #header .nav li:hover,
    #header .nav li:hover a{
        background-color: white;
        color:black
    }

    #slider .s-title{
        font-size: 20px;
        padding-bottom:10px
    }
    #slider .s-link a{
        padding:10px;
        font-size:16px
    }
    #slider .s-description{
        display: none;
    }
    .send-button{
        width:100%;
        padding:20px;
    }
    .contact-col form input,
    .contact-col form textarea,
    .blog-col-1 .input-comment,
    .blog-col-1 .input{
        font-size:16px;
        padding:16px;
    }
}
@media (max-width:700px){
    .row-3{
        flex-direction: column;
    }
    .text-all{
        font-size:18px
    }
    .description-all{
        font-size:14px
    }
    .student-fb div p{
        font-size:12px
    }
    #enroll-section .er-text h4{
        font-size:12px;
        line-height: 14px;
        padding-bottom: 6px;
    }
    #enroll-section .er-text a{
        padding:8px 16px;
        font-size:12px;
    }
}
@media (max-width:400px) {
    #slider .s-title{
        font-size:14px
    }
    #slider .s-link a{
        font-size:10px;
    }
    #footer .ft-p{
        display: none;
    }
    #header img {
        width:80px
    }
    .s-link{
        padding-top:6px
    }
    

}